<div class="top row aling-items-center justify-content-center">
    <div class="col-sm-6">
      <div class="card card_title">
        <h2 class="recoverPassword">Recuperar o Cambiar Contraseña</h2>
        <img class="imagen" src="https://s1.1zoom.me/big3/547/345606-admin.jpg">
        <br>
        <form [formGroup]="recoverForm" (ngSubmit)="recoverPassword()" novalidate>
          <div class="mb-3">
            <label class="form-label"><b>Correo</b> </label>
            <input formControlName="email" type="email" class="form-control" required>
            <label class="error" *ngIf="emptyemail">{{emptyFields("email")}}</label>
          </div>
  
          <h6>Recuerda colocar un correo válido o revise su carpeta de SPAM</h6>
          <button [disabled]="!recoverForm.valid" type="submit" class="btn btn-primary button">Recuperar contraseña</button>
  
  
        </form>
      </div>
    </div>
  </div>